.main {
  background-color: var(--color-blackTele2);
  height: 100%;
}

.section {
  height: 100%;
}

.headerFlex {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  margin-left: 162px;
}

.logoMobile {
  display: none;
  position: absolute;
}
.rightBlock {
  margin-right: 166px;
  display: flex;
}
.locationDesctop {
  margin-right: 37px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.locationMobile {
  display: none;
  position: absolute;
}

.locationIcon {
  margin-top: 1px;
  margin-right: 13px;
}

.locationText {
  font-size: 14px;
  font-weight: 400;
  color: var(--color-greyText);
}

.notification {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.hamburgerPanel {
  cursor: pointer;
  display: none;
  position: absolute;
}

@media screen and (max-width: 1024px) {
  .logo {
    margin-top: 2px;
    margin-left: 18px;
  }

  .logoDesctop {
    display: none;
    position: absolute;
  }
  .logoMobile {
    display: block;
    position: static;
  }

  .rightBlock {
    margin-right: 18px;
  }

  .locationDesctop {
    display: none;
    position: absolute;
  }

  .locationMobile {
    display: flex;
    position: absolute;
    background-color: var(--color-greyBackground);
    left: 0px;
    bottom: 0px;
    height: 56px;
    width: 100%;
  }

  .locationIcon {
    margin-right: 3px;
    margin-left: 16px;
    margin-top: 16px;
  }
  .locationText {
    font-size: 16px;
    margin-top: 18px;
  }

  .notification {
    margin-right: 19px;
    margin-top: 2px;
    opacity: 1;
  }

  .hamburgerPanel {
    display: block;
    position: static;
  }
}
