@font-face {
  font-family: "Tele2 TextSans Web SHORT Regular";
  src: url(Fonts/Tele2/Tele2TextSansWebSHORTRegular.woff2) format(woff2);
}

body * {
  
  box-sizing: border-box;
  line-height: normal;
  font-size: 14px;
  font-family: "Tele2 TextSans Web SHORT Regular", sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  --color-greyBackground: #F3F5F6;
  --color-greyText: #7c8792;
  --color-blackTele2: #1f2229;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
